<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our Page</h1>
    <a href="/adddeleterowcolumn">1.Add or Delete Row & Coloum Dynamically</a><br>
    <a href="/kukucube">2.Kuku Cube</a><br>
    <a href="/tictactoe">3.ic Tac Toe</a><br>
    <a href="/eventhandling">4.Event Handling</a><br>
    <a href="/function/functionname">5.All Functions</a><br>
    <a href="/form">6.Insertion And Fetch data from file</a><br>
    <a href="/fetchdbtask/studentdetails">7.Fetch From Database Task</a><br>
    <a href="/attendancedetailstask/attendancedetails">8.Attendance Details Task</a><br>
    <a href="/resultdetailstask/resultdetails">9.Result Details Task</a><br>
    <a href="/querydeatils/queryhome">10.Dynamic Query Box Task</a><br>
</body>
</html>