<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our Page</h1>
    <a href="/adddeleterowcolumn">Add or Delete Row & Coloum Dynamically</a><br>
    <a href="/kukucube">Kuku Cube</a><br>
    <a href="/tictactoe">Tic Tac Toe</a><br>
    <a href="/eventhandling">Event Handling</a><br>
    <a href="/function/functionname">All Functions</a>
</body>
</html>