<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment 4</title>
    <style>
        table,tr,td{
            border: 1px solid black;
        }
        tr:nth-child(odd)>td:nth-child(even){
            background-color: rgba(114, 2, 21, 0.548);
        }
        tr:nth-child(even)>td:nth-child(odd){
            background-color: rgba(114, 2, 21, 0.548);
        }
        input{
            font-size: 100px; 
        }
        .c2{
            position: absolute; 
            top: 20px; 
            right: 20px;
        }
        .c1{
            position: absolute; 
            bottom: 20px; 
            left: 20px;
            display: flex;
            gap: 10px;
        }
        .t1{
           background-color: white; 
        }
        #i1,#i2{
            color: white;
        }
        #sec,#four{
            width: 69px;
            height: 119px;
        }
        
        
            
     
    </style>
</head>
<body>
   <table cellspacing=0 cellpadding=70 id="t1" height="150px" width="150px">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
   </table><br>
    <div class="c1">

    <div class="first">
    <input type="button" value="+" onclick="add_row()" id="fir">
    </div>

    <div class="second">
    <input type="button" value="-" onclick="delete_row()" id="sec"><br>
    </div>

    </div>

    <div class="c2">

    <div class="third">    
    <input type="button" value="+" onclick="add_column()" id="thir"><br> 
    </div>

    <div class="fourth">
    <input type="button" value="-" onclick="delete_column()" id="four">
    </div>

    </div>
   
   <script>
    function add_row(){

        let tbl=document.getElementById("t1");
        let rowLen=tbl.rows.length;
        let colsLen=tbl.rows[0].cells.length;
        let emptyRow=tbl.insertRow(rowLen);
        for(let i=0; i<colsLen; i++){
            emptyRow.insertCell(i);
        }
        
    }
    function delete_row(){
        let tbl=document.getElementById("t1");
        let rowlen=tbl.rows.length;
        if(rowlen>2){
            tbl.deleteRow(rowlen-1);
        }
    }

    function add_column(){
        let tbl=document.getElementById("t1");
        let rowLen=tbl.rows.length;
        let colsLen=tbl.rows[0].cells.length;
        let row=tbl.rows;
        for(let i=0;i< rowLen;i++){
            row[i].insertCell(colsLen);
        }
    }

    function delete_column(){
        let tbl=document.getElementById("t1");
        let colsLen=tbl.rows[0].cells.length;
        let rowLen=tbl.rows.length;
        let row=tbl.rows;
        if (colsLen>2){
            for(let i=0;i<rowLen;i++){
                row[i].deleteCell(1);
            }
        }
    }
   </script>  
</body>
</html>