<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
        }
        .all{
            text-align: center;
        }
        h3{
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>Here are all function click to see them</h3>
    <div class="all">
    
    <a href="/function/vowel/?str=grishma">vowel</a><br><br>
    <a href="/function/oddeven/?arr=1,2,3">Odd Even</a><br><br>
    <a href="/function/groupby">Group By</a><br><br>
    <a href="/function/factorial/?num=5">Factorial</a><br><br>
    <a href="/function/vowelcount/?arr=grishma sao">Vowel and Consonants Count</a><br><br>
    <a href="/function/vowelcount2/?arr=Grishma Suresh Sao">Vowel Count of Longest String</a><br><br>
    <a href="/function/palindrome/?str=malayalam">Palindrome</a><br><br>
    <a href="/function/calc/?num1=12&num2=5.2&op=add">Calculator</a><br><br>
    </div>
</body>
</html>