<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="queryclass">
        <p>Note:Tables available users,basic_detail,educationdetails,work_experience,languageknown,technologyknown,reference_contact,preferences,student_master,attendance_master,result_master,exam_master,subject_master,select_master,option_master</p><br>

        <form action="/querydetails" method="post">
            <input type="text" name="qr" id="" cols="40" rows="5" placeholder="Enter Your Query">
            <input type="submit">
        </form>
        
    </div>
</body>
</html>