<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube task 1</title>
    <style>
        body{
            background-color: bisque;
        }
        td{
            border-radius: 15px;
        }
                    
    </style>
</head>
<body onload="rancolor()">
    <center><h3>Grishma Sao 1-2-24 24DEV008</h3></center>
    <h2>Table Game</h2>
    <div>score: <span id="score">0</span></div>
    <div>Time<span id="time">10</span></div>
    <center><table border="1" id="t1" height="800px" width="800px"></center>
    <tr>
        <td style="background-color: rgba(62, 29, 75,1);"></td>
        <td onclick="cubegame()" id="2" style="background-color: rgba(62, 29, 75,0.5);"></td>
    </tr>
    <tr>
        <td style="background-color: rgba(62, 29, 75,1);"></td>
        <td style="background-color: rgba(62, 29, 75,1);"></td>
    </tr>
   </table> 
   <script>
        var allcells
        var randcell

        function cubegame(){
            
            
            firstAddRowCol();
            add_color();
            next();

        }
        var score=0;
        time=10;
        setInterval(function(){
            time--;
            document.getElementById('time').innerHTML=time;
            if(time==0){
                alert('your score is:'+ score);
                location.reload();
                score=0;
                time=10;
                
            }
            
        },1000)

        function add_color(){
                var x=Math.floor(Math.random()* 256);
                var y=Math.floor(Math.random()* 256);
                var z=Math.floor(Math.random()* 256);
                var bgcolor="rgb(" + x + " ," + y + "," + z + ")";
                
                var allcells=document.getElementsByTagName("td");
                for(var i=0;i<allcells.length;i++){
                    allcells[i].style.backgroundColor=bgcolor;
                   // allcells[i].addEventListener("click", cubegame);
                }
        }
            function firstAddRowCol() {

            var tbl=document.getElementById("t1");
            var row_count=tbl.rows.length;
            var cols_count=tbl.rows[0].cells.length;
            var emptyRow=tbl.insertRow(row_count.length);
            var cell;
            for(var i=0; i<cols_count; i++){
                cell=emptyRow.insertCell(i);
            }

            var tbl=document.getElementById("t1");
            var row_count=tbl.rows.length;
            var col_count=tbl.rows[0].cells.length;
            var rows=tbl.rows;
            var cell;
            for( var i=0;i<row_count;i++){
                cell=rows[i].insertCell(col_count);
            }
            score++;
            document.getElementById('score').innerHTML=score;

            }
            function next() {
                allcells = document.getElementsByTagName("td");
                randcell = allcells[Math.floor(Math.random()*allcells.length)];
                randcell.style.opacity = "0.5"
                randcell.setAttribute("onclick","add_rowcol()")
            }

        function add_rowcol(){
            //rows
            randcell.style.opacity = "100"
            randcell.setAttribute("onclick","")
            var tbl=document.getElementById("t1");
            var row_count=tbl.rows.length;
            var cols_count=tbl.rows[0].cells.length;
            var emptyRow=tbl.insertRow(row_count.length);
            var cell;
            for(var i=0; i<cols_count; i++){
                cell=emptyRow.insertCell(i);
            }
        
            //cols
            var tbl=document.getElementById("t1");
            var row_count=tbl.rows.length;
            var col_count=tbl.rows[0].cells.length;
            var rows=tbl.rows;
            var cell;
            for( var i=0;i<row_count;i++){
                cell=rows[i].insertCell(col_count);
            }

          
           rowLen = tbl.rows.length
           colLen = tbl.rows[0].cells.length
           rowLen=  Math.floor(Math.random() * (rowLen - 1) + 1) 
           colLen = Math.floor(Math.random() * (colLen - 1) + 1)

           score++;
           document.getElementById('score').innerHTML=score;
           add_color();
           next()
                

        } 
        
   </script>
</body>
</html>