<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .finalpage{
            text-align:  center;
        }
        body{
            background-color: aliceblue;
        }
        h1,h3{
            color: rgb(97, 45, 2);
        }
    </style>
</head>
<body>

    <div class="finalpage">

    <h1>Welcome to My Page</h1><br>
    <h3>Here are my All Tasks</h3>


    <a href="/htmltask/adddeleterowcolumn">1.Add or Delete Row & Coloum Dynamically</a><br><br>
    <a href="/htmltask/kukucube">2.Kuku Cube</a><br><br>
    <a href="/htmltask/tictactoe">3.ic Tac Toe</a><br><br>
    <a href="/htmltask/eventhandling">4.Event Handling</a><br><br>
    <a href="/function/functionname">5.All Functions</a><br><br>
    <a href="/form">6.Insertion And Fetch data from file</a><br><br>
    <a href="/studentdetails">7.Fetch From Database</a><br><br>
    <a href="/attendancedetails">8.Attendance Details</a><br><br>
    <a href="/resultdetails">9.Result Details</a><br><br>
    <a href="/queryhome">10.Dynamic Query Box</a><br><br>
    <a href="/details">11.Search Box</a><br><br>
    <a href="/delemitersearchtask">12.Delemiter Search</a><br><br>
    <a href="/createcomponenttask">13.Create Component</a><br><br>
    <a href="/fetchapi">14.Fetch Data From API</a><br><br>
    <a href="/jobappform">15.Job Application Form Insertion</a><br><br>
    <a href="/nextform">16.Job Application Form with next & Insertion & Updation with AJAX</a><br><br>
    <a href="/timezone">17.Timezone Exercise</a><br><br>

    </div>

</body>
</html>